:root {
  --primary: #387478 ;
  --secondary: #AB886D;
  --accent-color:#E2f1e7;
  --button: #493628;
  --hover: #948979;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--accent-color);
}

/* Navbar CSS */



nav {
  border-bottom: 2px solid #0e0e0e2e;
  background-color: #fff;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
}

.nav-row {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

ul.nav-row {
  justify-content: center;
  height: 40px;
}

.nav-row li {
  list-style: none;
  margin: 0 30px;
}

.nav-row li a {
  text-decoration: none;
  font-size: medium;
  color: var(--button);
}

.nav-row li:hover {
  cursor: pointer;
}

/* NavBar Brand CSS */

.nav-brand {
  align-content: center;
  text-align: center;
  margin-right: 30px;
}

.nav-brand a {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: var(--button);
}

/* Navbar Search Bar CSS */

.nav-search {
  width: 60vw;
  display: flex;
  justify-content: center;
  border: 2px solid var(--primary);
  border-radius: 30px;
}

.nav-search input {
  width: 100%;
  height: 45px;
  border: none;
  padding: 0 8px;
  border-radius: 30px 0 0 30px;
  margin-right: 5px;
}

.nav-search input:focus {
  outline: 1px solid var(--secondary);
  outline-offset: 5px;
}

.nav-search input:focus ~ .search-icon > .icon-circle,
.nav-search input:hover ~ .search-icon > .icon-circle {
  height: 45px;
  margin-right: 0;
  border-radius: 0 50% 50% 0;
}

.nav-search .search-icon {
  width: 50px;
  border: none;
  align-content: center;
  text-align: center;
}

.nav-search .icon-circle {
  background-color: var(--button);
  transition: all 200ms;
  border-radius: 50%;
  height: 40px;
  margin-right: 5px;
  align-content: center;
  text-align: center;
}

.nav-search .fa-magnifying-glass {
  color: white;
}

/* Navbar Links CSS */

.nav-links {
  display: flex;
  margin: 0 10px;
}

.fa-heart,
.fa-bag-shopping {
  color: var(--button);
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  align-content: center;
  border-radius: 20%;
  transition: all 200ms;
}
.fa-heart:hover,
.fa-bag-shopping:hover {
  background-color: #0e0e0e17;
  border-radius: 50%;
}

.nav-links a {
  text-decoration: none;
  margin: 0 10px;
}

.nav-links button {
  font-size: small;
  color: var(--button);
  height: 40px;
  width: 80px;
  border: none;
  background: none;
  border-radius: 10%;
  transition: all 200ms;
}

.nav-links button:hover {
  background-color: #0e0e0e17;
  border-radius: 24px;
}

/* Navbar Categories CSS */

.nav-categories {
  height: 40px;
  width: 130px;
  font-size: small;
  align-content: center;
  text-align: center;
  border: none;
  background: none;
  border-radius: 10%;
  transition: all 200ms;
}

.nav-categories:hover {
  cursor: pointer;
  background-color: #0e0e0e17;
  border-radius: 24px;
}

/* Main Section CSS */

/* Banner Section CSS */
section.banner {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.banner-container {
  width: 90%;
  background: var(--primary);
  color: white;
  height: 444px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

/* Banner Text CSS */

.text-tag {
  background-color: var(--button);
  font-size: 14px;
  display: inline-block;
  width: 70px;
  height: 24px;
  align-content: center;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 15px;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-text-container h2 {
  width: 70%;
  font-weight: normal;
  font-size: 45px;
  text-wrap: wrap;
}
.banner-text-container button {
  height: 50px;
  width: 115px;
  border-radius: 25px;
  background-color: var(--button);
  color: white;
  margin-top: 15px;
  border: none;
}
.banner-text-container button:hover {
  cursor: pointer;
  background-color: var(--hover);
}

/* Banner Group CSS */



.banner-group-container {
  animation-name: desktop-outer-column;
  animation-duration: 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 1s;
  transform: translateY(-256px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.group-container-reverse {
  animation-name: desktop-inner-column;
}

.banner-product {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  align-items: center;
  justify-content: space-around;
  background-color: #f1641e;
  border-radius: 15px;
  color: black;
  height: 190px;
  width: 144px;
}

.product-1 {
  background-color: rgb(140, 138, 240);
}

.product-2 {
  background-color: #21b55a;
}

.product-3 {
  background-color: #ccebff;
}

.product-4 {
  background-color: #2638c0;
}

.product-5 {
  background-color: #fdd95c;
}

.product-6{
  background-color: #f19d27;
}

.clip-img-container {
  border-radius: 0 0 10px 10px;
  height: 122px;
  overflow: hidden;
}
.clip-img {
  clip-path: circle(80% at 50% 80%);
  position: relative;
}

.banner-product-title {
  width: 100%;
  margin-left: 15px;
  margin-top: 5px;
}

.banner-product img {
  height: 132px;
}

@media screen and (max-width:639px) {
  .banner-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  .banner-group-container {
    animation-name: mobile-upper-row;
    flex-wrap:nowrap;
    animation-duration: 20s;
    position: relative;
    display: flex;
  }
  
  .group-container-reverse {
    animation-name: mobile-lower-row;
    transform: translate(calc(100vw - 894px))
  }
  .banner-product {
    margin-left: 8px;
  }

}
/* Banner Animations */
@keyframes desktop-outer-column {
  0% {
    transform: translateY(-256px);
  }

  39% {
    transform: translateY(-1156px);
  }

  to {
    transform: translateY(8px);
  }
}

@keyframes desktop-inner-column {
  0% {
    transform: translateY(-533px)
}

39% {
    transform: translateY(8px)
}

to {
    transform: translateY(-1156px)
}
}

@keyframes mobile-upper-row {
  0% {
      transform: translate(0)
  }

  to {
      transform: translate(calc(100vw - 894px))
  }
}

@keyframes mobile-lower-row {
  0% {
      transform: translate(calc(100vw - 894px))
  }

  to {
      transform: translate(0)
  }
}

/* Recent Products CSS */

section.recent-products-grid, section.favorite-trend,section.featured-categories-grid, section.extra-ordinary-items-grid {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.recent-products-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.recent-products {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
}

.recent-products-title {
margin-bottom: 5px;
}

.products-placeholder {
  flex: 1 1 calc(20% - 10px);
/* height: 100%; */
}

.product-box {
  height: 194px;
  overflow: hidden;
  position: relative;
}

.product-box > img {
  height: 100%;
width: 100%;
object-fit: fill;
}
.product-box > span { 
  font-size: 14px;
position: absolute; 
bottom: 0%; 
left: 0%;
background-color: white;
margin-left: 5px;
border: 1px solid gray;
margin-bottom: 15px;
padding: 8px 10px;
border-radius: 25px;
}

/* Favorite Trend CSS */

.favorite-trend-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.favorite-trend-title {
  font-weight: normal;
  text-align: center;
font-size: 30px;
}
.favorite-trend-products {
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.favorite-product-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-product-box > span {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
text-align: center;
}

.favorite-product-box > img {
  width: 100%;
border-radius: 50%;

}

/* Featured Categories CSS */
.featured-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.featured-categories-container > h2{
  align-self: flex-start;
}

.featured-categories {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.categories-box {
  display: flex;
  flex-direction: column;
  height: 245px;
}

.categories-box > img {
  height: 100%;
width: 100%;
object-fit: fill;
border-radius: 15px;
}

/* Extra Ordinary Items CSS */
.extra-ordinary-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.extra-ordinary-items-container> h2{
  align-self: flex-start;
}

.extra-ordinary-items {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
}

.extra-ordinary-items-box {
  display: flex;
  flex-direction: column;
  height: 245px;
}

.extra-ordinary-items-box > img {
  height: 100%;
width: 100%;
object-fit: fill;
border-radius: 15px;
}

/* Footer CSS */

.pg-footer {
  font-family: 'Roboto', sans-serif;
}

footer {
  margin-top: 50px;
}

.footer {
    background-color: var(--button);
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: var(--accent-color);
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  text-decoration: none;
  color: white;
    display: inline-block;
}
.footer-menu {
    margin-top: 30px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-copyright {
    background-color:var(--primary);
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}







/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}

@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}

/* Responsive CSS */
@media screen and (max-width: 768px) {
  .nav-container {
    height: 100px;
    flex-direction: row;
  }
  nav {
    padding: 10px;
  }
  .nav-container ul {
    display: none;
  }
  .nav-row {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-search {
    order: 2;
    flex: 1 0 100%;
  }
  section.recent-products-grid, section.favorite-trend,section.featured-categories-grid, section.extra-ordinary-items-grid {
    padding: 20px 0px;
  }
  .recent-products {
    flex-wrap: wrap;
  }

    .product-box > img {
      object-fit: cover;
    }
    .products-placeholder {
      flex: 1 1 calc(25% - 10px); /* Each product takes 50% width for tablets */
    }
 #group-3 {
  display: none;
 }
 .banner-text-container h2 {
  width: 100%;
  font-size: 31px;
 }
}

@media screen and (max-width: 514px) {
  .nav-container {
    flex-direction: row;
  }
  .nav-links:last-child {
    display: none;
  }
  .nav-links {
    width: 100%;
    justify-content: space-between;
  }
}


@media screen and (max-width:1024px) {
  .extra-ordinary-items,.featured-categories,.favorite-trend-products {
    flex-wrap: wrap;
  }
  .favorite-product-box > img {
    width: 50%;
  }
  .favorite-trend-products {
    width: 100%;
  }

}

@media (max-width: 480px) {
  .products-placeholder {
    flex: 1 1 100%; /* Each product takes full width for mobile */
  }
}